apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: generic-apps
  namespace: monitoring
spec:
  namespaceSelector:
    any: true
  selector:
    matchLabels:
      monitoring: "true"
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
