- name: Mise à jour apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: Mise à jour des paquets
  apt:
    upgrade: dist
  become: yes

- name: Installer les paquets de base
  apt:
    name:
      - curl
      - wget
      - git
      - htop
      - jq
      - unzip
    state: present
  become: yes
  