# --- Helm install ---
- name: Vérifier si registry-ui est installé
  command: helm status registry-ui -n registry
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"
  register: registry_ui_status
  failed_when: false
  changed_when: false

- name: Installer Docker Registry UI
  command: >
    helm install registry-ui docker-registry-ui
    --repo https://helm.joxit.dev
    --namespace registry
    --set ui.proxy=true
    --set ui.dockerRegistryUrl=http://registry-docker-registry:5000
    --set ui.singleRegistry=true
    --set ui.title="Registry matltz.dev"
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"
  when: registry_ui_status.rc != 0

- name: Upgrader Docker Registry UI
  command: >
    helm upgrade registry-ui docker-registry-ui
    --repo https://helm.joxit.dev
    --namespace registry
    --set ui.proxy=true
    --set ui.dockerRegistryUrl=http://registry-docker-registry:5000
    --set ui.singleRegistry=true
    --set ui.title="Registry matltz.dev"
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"
  when: registry_ui_status.rc == 0

# --- Cleanup ancien ingress registry-ui ---
- name: Supprimer l'ancien ingress registry-ui
  command: kubectl delete ingress registry-ui -n registry --ignore-not-found
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"
