# --- Helm install ---
- name: Vérifier si sealed-secrets est installé
  command: helm status sealed-secrets -n kube-system
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"
  register: sealed_secrets_status
  failed_when: false
  changed_when: false

- name: Installer Sealed Secrets
  command: >
    helm install sealed-secrets sealed-secrets
    --repo https://bitnami-labs.github.io/sealed-secrets
    --namespace kube-system
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"
  when: sealed_secrets_status.rc != 0

- name: Upgrader Sealed Secrets
  command: >
    helm upgrade sealed-secrets sealed-secrets
    --repo https://bitnami-labs.github.io/sealed-secrets
    --namespace kube-system
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"
  when: sealed_secrets_status.rc == 0

- name: Attendre que sealed-secrets-controller soit prêt
  command: kubectl -n kube-system rollout status deployment/sealed-secrets --timeout=120s
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"
  changed_when: false

- name: Vérifier que le controller répond
  command: kubectl -n kube-system get pods -l app.kubernetes.io/name=sealed-secrets -o jsonpath="{.items[0].status.phase}"
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"
  register: sealed_secrets_pod
  changed_when: false

- name: Statut du controller
  debug:
    msg: "Sealed Secrets controller: {{ sealed_secrets_pod.stdout }}"
