apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: portfolio-backend
  namespace: portfolio
spec:
  selector:
    matchLabels:
      app: portfolio-backend
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
